<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->
<div class="container">
  <h1> Result </h1>
  <p> Your Answer: <%=@answer%></p>
  <p><%= @output %></p>
  <p> Your Score: <%=@score %></p>

  <div class="link"><%= link_to "Play Again", "/new" %></div>
</div>
